# Environment variables
.env


schedule.json
print_mock_games.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
ENV/
.venv


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/